@charset "UTF-8";

/* board 공통 */
.body {
	background-color: #a6b1e1;
}

.boardInner {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 30px auto 30px;
}

/* boardList.jsp */
.board_list {
	margin: auto;
	margin-top: 10%;
	padding: 10px;
	width: 700px;
}

.board_list_body {
	border: 1px solid #a6b1e1;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    display: inline-block;
}

.board_list_body:hover {
	background-color: #edefff;
}

.board_list_body div {
}

.board_list_search {
	text-align: center;
	margin: auto;
	margin-bottom: 10%;
	padding: 10px;
	width: 700px;
}

.board_list_head div {
	margin-bottom: 15px;
	padding-left: 0px;
}

.board_list_head div div {
	line-height: 30px;
	padding: 5px 0;
	border-bottom: 1px solid #edefff;
}

.board_write_btn {
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 50px;
    height: 20px;
}

.board_write_btn:hover {
	background-color: #f4eeff;
}

/* boardView.jsp */
#boardInner #detail {
	margin: auto;
	margin-top: 10%;
	padding: 10px;
	width: 700px;
}

#boardInner #detail div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	margin: 2px 0px;
	padding: 1px;
}

#boardInner #detail .bold {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}

#boardInner #detail #content {
	min-height: 120px;
	padding: 20px 20px;
	line-height: 20px;
}

#boardInner #detail button {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}

#boardInner #replies {
	margin: auto;
	padding: 10px;
	width: 700px;
}

#boardInner #replies ul {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
}

#boardInner #replyWriteForm {
	margin: auto;
	padding: 10px;
	width: 700px;	
}

#boardInner #replyWriteForm div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	margin: 2px 0px;
	padding: 1px;
}

#boardInner #replyModifyForm {
	margin: auto;
	padding: 10px;
	width: 700px;	
}

#boardInner #replyModifyForm div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	margin: 2px 0px;
	padding: 1px;
}

#replyModifyForm {
	display: none;
}	

/* boardWrite.jsp */
#boardInner #write {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px;
	width: 700px;
}

#boardInner #write div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	line-height: 30px;
	margin: 2px 0px;
	padding: 0 10px;
}

#boardInner #write input[type='text'], #boardInner #write input[type='password']
	{
	border: 0px;
}

#boardInner #write textarea {
	border: 0px;
	line-height: 20px;
	min-height: 120px;
	padding: 20px 20px;
}

#boardInner #write>input {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}

/* boardModify */
#boardInner #modify {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px;
	width: 700px;
}

#boardInner #modify div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	line-height: 30px;
	margin: 2px 0px;
	padding: 0 10px;
}

#boardInner #modify input[type='text'], #boardInner #modify input[type='password']
	{
	border: 0px;
}

#boardInner #modify textarea {
	border: 0px;
	line-height: 20px;
	min-height: 120px;
	padding: 20px 20px;
}

#boardInner #modify>input {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}

/* boardCheck */
#boardInner #check {
	border-radius: 5px;
	background-color: #f4eeff;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px;
	width: 300px;
	height: 120px;
}

#boardInner #check div {
	margin-bottom: 10px;
	text-align: center;
}

#boardInner #check input[type='password'] {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
}

#boardInner #check #buttons input {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}
