@charset "UTF-8";

/* board 공통 */
body {
	background: linear-gradient(45deg, #FFF0E9 20%, #EDCEDB 50%, #967CAA 100%);
}

.board_inner {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
}

/* boardList.jsp */
.list_inner {
	margin: auto;
	margin-top: 10%;
	padding: 10px;
	width: 700px;
	text-align: center;
}

.board_list_box {
	box-shadow: 0px 2px 10px rgba(58, 15, 77, .2);
	background-color: rgba(255, 252, 254, 0.3);
    height: 150px;
    width: 200px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    display: inline-block;
}

.board_list_box:hover {
	background-color: rgba(255, 252, 254, 0.6);
}

.board_list_box div {
}

.board_list_search {
	text-align: center;
	margin: auto;
	margin-bottom: 10%;
	padding: 10px;
	width: 700px;
}

.board_list_head div {
	margin-bottom: 15px;
	padding-left: 0px;
}

.board_list_head div div {
	line-height: 30px;
	padding: 5px 0;
	border-bottom: 1px solid #edefff;
}

.board_write_btn {
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 50px;
    height: 20px;
}

.board_write_btn:hover {
	background-color: #f4eeff;
}

/* boardView.jsp */
.view_inner {
	margin: auto;
	margin-top: 10%;
	padding: 10px;
	width: 700px;
}

.view_inner div {
	border-radius: 5px;
	margin: 2px 0px;
	padding: 1px;
	background-color: rgba(255, 252, 254, 0.8);
}

.view_inner .bold {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}

.view_inner .content {
	min-height: 120px;
	padding: 20px 20px;
	line-height: 20px;
}

.view_inner button {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}

#replies {
	margin: auto;
	padding: 10px;
	width: 700px;
}

#replies ul {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
}

#replyWriteForm {
	margin: auto;
	padding: 10px;
	width: 700px;	
}

#replyWriteForm div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	margin: 2px 0px;
	padding: 1px;
}

#replyModifyForm {
	display: none;
}

#replyModifyForm {
	margin: auto;
	padding: 10px;
	width: 700px;	
}

#replyModifyForm div {
	border: 1px solid #a6b1e1;
	border-radius: 5px;
	margin: 2px 0px;
	padding: 1px;
}

/* boardWrite.jsp */
.write_inner {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px;
	width: 700px;
}

.write_inner div {
	border-radius: 5px;
	line-height: 30px;
	margin: 2px 0px;
	padding: 0 10px;
	background-color: rgba(255, 252, 254, 0.3);
}

.write_inner input[type='text'], 
.write_inner input[type='password'] {
	border: 0px;
}

.write_inner textarea {
	border: 0px;
	line-height: 20px;
	min-height: 120px;
	padding: 20px 20px;
}

.write_inner > input {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}

/* boardModify */
.modify_inner {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px;
	width: 700px;
}

.modify_inner div {
	border-radius: 5px;
	line-height: 30px;
	margin: 2px 0px;
	padding: 0 10px;
	background-color: rgba(255, 252, 254, 0.3);
}

.modify_inner input[type='text'], 
.modify_inner input[type='password'] {
	border: 0px;
}

.modify_inner textarea {
	border: 0px;
	line-height: 20px;
	min-height: 120px;
	padding: 20px 20px;
}

.modify_inner > input {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}

/* boardCheck */
.check_inner {
	background-color: rgba(255, 252, 254, 0.8);
	box-shadow: 0px 2px 10px rgba(58, 15, 77, 0.2);
	border-radius: 5px;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px;
	width: 300px;
	height: 120px;
}

.check_inner div {
	margin-bottom: 10px;
	text-align: center;
}

.check_inner input[type='password'] {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
}

.check_inner #buttons input {
	border: 0px solid;
	border-radius: 4px;
	background-color: #a6b1e1;
	color: #424874;
	cursor: pointer;
	padding: 5px;
	width: 100px;
	height: 35px;
}
