<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardDao">

	<insert id="insertBoard" parameterType="map">
		<selectKey order="BEFORE" keyProperty="num" resultType="int">
			select board_seq.nextval from dual
		</selectKey>
		insert into board (num, title, content, pass, name, fName)
		values (#{num}, #{title}, #{content}, #{pass}, #{name}, #{fName})
	</insert>
	
	<update id="updateBoard" parameterType="board">
		update board
		set title=#{title}, content=#{content}, pass=#{pass}, name=#{name}
		where num=#{num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where num=#{num}
	</delete>
	
	<select id="selectBoard" parameterType="int" resultType="board">
		select * 
		from board b
		where b.num=#{num} 
	</select>
	
	<select id="selectAllBoards" resultType="board">
		select * from board
	</select>
	
	<select id="selectSearchedBoards" parameterType="map" resultType="board">
		select num, title, name 
		from board
		where 1=0
		<if test="title != null">
			or title like ('%${title}%')
		</if>
		<if test="content != null">
			or content like ('%${content}%')
		</if>
		<if test="name != null">
			or name like ('%${name}%')
		</if>
		<if test="type == 0">
			or 1=1
		</if>
			order by num desc
	</select>
	
</mapper>