<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardDao">

	<insert id="insertBoard" parameterType="map">
		insert into board (num, title, content, pass, name, fName)
		values (board_seq.nextval, #{title}, #{content}, #{pass}, #{name}, #{fName})
	</insert>
	
	<update id="updateBoard" parameterType="board">
		update board
		set title=#{title}, content=#{content}, pass=#{pass}, name=#{name}
		where num=#{num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where num=#{num}
	</delete>
	
	<select id="selectBoard" parameterType="int" resultType="board">
		select * 
		from board b
		where b.num=#{num} 
	</select>
	
	<select id="selectAllBoards" resultType="board">
		select * from board
	</select>
	
</mapper>