<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardDao">

	<insert id="insertBoard" parameterType="map">
		insert into board 
		(b_num, b_title, b_content, b_pw, b_name, f_name)
		values (#{bNum}, #{bTitle}, #{bContent}, #{bPW}, #{bName}, #{fName})
	</insert>
	
	<update id="updateBoard" parameterType="board">
		update board
		set b_title=#{bTitle}, b_content=#{bContent}, b_pw=#{bPW}, b_name=#{bName}
		where b_num=#{bNum}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where b_num=#{bNum}
	</delete>
	
	<select id="selectBoard" parameterType="int" resultMap="boardMap">
		select * 
		from board
		where b_num=#{bNum} 
	</select>
	
	<select id="selectAllBoards" resultMap="boardMap">
		select * from board
	</select>
	
	<select id="selectSearchedBoards" parameterType="map" resultMap="boardMap">
		select b_num, b_title, b_name 
		from board
		where 1=0
		<if test="title != null">
			or b_title like ('%${bTitle}%')
		</if>
		<if test="content != null">
			or b_content like ('%${bContent}%')
		</if>
		<if test="name != null">
			or b_name like ('%${bName}%')
		</if>
		<if test="type == 0">
			or 1=1
		</if>
			order by b_num desc
	</select>
	
	<resultMap type="board" id="boardMap">
		<result column="b_num" property="bNum"/>
		<result column="b_title" property="bTitle"/>
		<result column="b_content" property="bContent"/>
		<result column="b_pw" property="bPW"/>
		<result column="b_name" property="bName"/>
		<result column="f_name" property="fName"/>
	</resultMap>
</mapper>