<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MemberDao">

	<insert id="insertMember" parameterType="member">
		<selectKey order="BEFORE" keyProperty="mNum" resultType="int">
			select member_seq.nextval from dual
		</selectKey>
		insert into member (mNum, mID, mPass, mName)
		values (#{mNum}, #{mID}, #{mPass}, #{mName})
	</insert>
	
	<select id="selectMember" parameterType="int" resultType="member">
		select * 
		from member
		where mNum=#{mNum}
	</select>

	<select id="selectMemberByMID" parameterType="String" resultType="member">
		select * 
		from member
		where mID=#{mID}
	</select>	
	
	<insert id="insertAuthority" parameterType="member">
		insert into authority (mNum, authority)
		values (#{mNum}, 'ROLE_USER')
	</insert>

	<select id="selectAuthoritiesByMNum" parameterType="int" resultType="String">
		select authority
		from authority
		where mNum=#{mNum}
	</select>	
</mapper>